body{height:100%;}
#parts_pool{  
	width:100%;
	text-align:center;
}
#parts_pool:after{
	clear: both;
}
.part{ 
	z-index: 1;
	width: 55px; 
	height: 55px; 
	display: inline-block;
	margin: 0 10px 10px 0; 
	border:2px solid #ccc; 
}
.ship_container{
	width: 22.5%;
}
.ship-pos{
	margin: 0 auto;
	height:39%;
	width:200px;
	position:absolute;
}
.part_container{ 
	width: 55px; 
	height: 55px;  
	border:2px solid #ccc;
	position: absolute; 
}
.ships{
	height:40%;
	position: relative;
}
.int{
	left: 10%;
}
.cru{
	left: 32.5%;
}
.dre{
	left: 55%;
}
.star{
	left: 77.5%;
}
.i1 {
	top:50px;
	left:0px;
}
.i2 {
	top:0px;
	left:65px;
}
.i3 {
	top:65px;
	left:65px;
}
.i4 {
	top:50px;
	left:130px;
}
.c1{
	top:30px;
	left:0px;
}
.c2{
	top:95px;
	left:0px;
}
.c3{
	top:0px;
	left:65px;
}
.c4{
	top:65px;
	left:65px;
}
.c5{
	top:30px;
	left:130px;
}
.c6{
	top:95px;
	left:130px;
}
.d1{
	top:0px;
	left:0px;
}
.d2{
	top:65px;
	left:0px;
}
.d3{
	top:130px;
	left:0px;
}
.d4{
	top:30px;
	left:65px;
}
.d5{
	top:95px;
	left:65px;
}
.d6{
	top:0px;
	left:130px;
}
.d7{
	top:65px;
	left:130px;
}
.d8{
	top:130px;
	left:130px;
}
.s1{
	top:65px;
	left:0px;	
}
.s2{
	top:0px;
	left:65px;	
}
.s3{
	top:65px;
	left:65px;	
}
.s4{
	top:130px;
	left:65px;	
}
.s5{
	top:65px;
	left:130px;	
}
#electron_computer, .electron_computer{
	background:url('images/PartsSprite2.png') -2px -2px;
}
#positron_computer, .positron_computer{
	background:url('images/PartsSprite2.png') -2px -60px;
}
#gluon_computer, .gluon_computer{
	background:url('images/PartsSprite2.png') -2px -118px;
}
#sentient_computer, .sentient_computer{
	background:url('images/PartsSprite2.png') -2px -176px;
}
#plasma_missle, .plasma_missle{
	background:url('images/PartsSprite2.png') -60px -2px;
}
#flux_missle, .flux_missle{
	background:url('images/PartsSprite2.png') -60px -60px;
}
#hyperion_source, .hyperion_source{
	background:url('images/PartsSprite2.png') -60px -118px;
}
#ion_turret, .ion_turret{
	background:url('images/PartsSprite2.png') -60px -176px;	
}
#improved_hull, .improved_hull{
	background:url('images/PartsSprite2.png') -118px -2px;
}
#shard_hull, .shard_hull{
	background:url('images/PartsSprite2.png') -118px -60px;
}
#conifold_field, .conifold_field{
	background:url('images/PartsSprite2.png') -118px -118px;
}
#hull, .hull{
	background:url('images/PartsSprite2.png') -118px -176px;
}
#ion_cannon, .ion_cannon{
	background:url('images/PartsSprite2.png') -176px -2px;
}
#plasma_cannon, .plasma_cannon{
	background:url('images/PartsSprite2.png') -176px -60px;
}
#antimatter_cannon, .antimatter_cannon{
	background:url('images/PartsSprite2.png') -176px -118px;
}
#ion_disruptor, .ion_disruptor{
	background:url('images/PartsSprite2.png') -176px -176px;
}
#fusion_drive, .fusion_drive{
	background:url('images/PartsSprite2.png') -236px -2px;
}
#tachyon_drive, .tachyon_drive{
	background:url('images/PartsSprite2.png') -236px -60px;
}
#jump_drive, .jump_drive{
	background:url('images/PartsSprite2.png') -236px -118px;
}
#conformal_field, .conformal_field{
	background:url('images/PartsSprite2.png') -236px -176px;
}
#nuclear_source, .nuclear_source{
	background:url('images/PartsSprite2.png') -294px -2px;
}
#fusion_source, .fusion_source{
	background:url('images/PartsSprite2.png') -294px -60px;
}
#tachyon_source, .tachyon_source{
	background:url('images/PartsSprite2.png') -292px -116px;
}
#zero_point, .zero_point{
	background:url('images/PartsSprite2.png') -292px -176px;
}
#gauss_shield, .gauss_shield{
	background:url('images/PartsSprite2.png') -352px -2px;
}
#phase_shield, .phase_shield{
	background:url('images/PartsSprite2.png') -352px -60px;
}
#morph_shield, .morph_shield{
	background:url('images/PartsSprite2.png') -352px -118px;
}
#flux_shield, .flux_shield{
	background:url('images/PartsSprite2.png') -352px -176px;
}
#interceptor_bay, .interceptor_bay{
	background:url('images/PartsSprite2.png') -410px -2px;
}
