<div id='att' class="ships">			
  <ul class="races">
    <li><a href="#">Terran</a></li>
    <li><a href="#">Planta</a></li>
    <li><a href="#">Exiles</a></li>
    <li><a href="#">Rho Indi</a></li>
    <li><a href="#">Orion</a></li>
    <li><a href="#">Alien Ships</a>
  </ul>
  <div class="ship_container">
    <div id="att_i" class="ship-pos int">
      <input id="att_i_s" class="spinner_i quan" name="value" value="0" />					
      <div id="ai1" class="part_container i1"></div>
      <div id="ai2" class="part_container i2"></div>
      <div id="ai3" class="part_container i3"></div>
      <div id="ai4" class="part_container i4"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="att_c" class="ship-pos cru">
      <input id="att_c_s" class="spinner_c quan" name="value" value="0" />
      <div id="ac1" class="part_container c1"></div>
      <div id="ac2" class="part_container c2"></div>
      <div id="ac3" class="part_container c3"></div>
      <div id="ac4" class="part_container c4"></div>
      <div id="ac5" class="part_container c5"></div>
      <div id="ac6" class="part_container c6"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="att_d" class="ship-pos dre">
      <input id="att_d_s" class="spinner_d quan" name="value" value="0" />
      <div id="ad1" class="part_container d1"></div>
      <div id="ad2" class="part_container d2"></div>
      <div id="ad3" class="part_container d3"></div>
      <div id="ad4" class="part_container d4"></div>
      <div id="ad5" class="part_container d5"></div>
      <div id="ad6" class="part_container d6"></div>
      <div id="ad7" class="part_container d7"></div>
      <div id="ad8" class="part_container d8"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="att_s" class="ship-pos star">
      <input id="att_s_s" class="spinner_s quan" name="value" value="0" />
      <div id="as1" class="part_container s1"></div>
      <div id="as2" class="part_container s2"></div>
      <div id="as3" class="part_container s3"></div>
      <div id="as4" class="part_container s4"></div>
      <div id="as5" class="part_container s5"></div>
    </div>
  </div>			
</div>
<div id="parts_container">
  <span id="parts_id">PARTS:</span>
  <div id="parts_pool">
    <ul>
      <li><a href="#tabs-1">Cannons</a></li>
      <li><a href="#tabs-2">Missles</a></li>
      <li><a href="#tabs-3">Power Sources</a></li>
      <li><a href="#tabs-4">Computers</a></li>
      <li><a href="#tabs-5">Shield</a></li>
      <li><a href="#tabs-6">Hulls</a></li>
      <li><a href="#tabs-7">Drives</a></li>		    
    </ul>
    <div id="tabs-1">
      <div id="ion_cannon" class="part"></div>
      <div id="plasma_cannon" class="part"></div>
      <div id="antimatter_cannon" class="part"></div>
      <div id="ion_disruptor" class="part"></div>
      <div id="ion_turret" class="part"></div>
    </div>
    <div id="tabs-2">
      <div id="plasma_missle" class="part"></div>
      <div id="flux_missle" class="part"></div>
    </div>
    <div id="tabs-3">
      <div id="nuclear_source" class="part"></div>
      <div id="fusion_source" class="part"></div>
      <div id="tachyon_source" class="part"></div>
      <div id="hyperion_source" class="part"></div>
      <div id="zero_point" class="part"></div>
      <div id="muon" class="part"></div>
    </div>
    <div id="tabs-4">
      <div id="electron_computer" class="part"></div>		
      <div id="positron_computer" class="part"></div>
      <div id="gluon_computer" class="part"></div>
      <div id="sentient_computer" class="part"></div>
      <div id="axion_computer" class="part"></div>	  			    
    </div>
    <div id="tabs-5">
      <div id="gauss_shield" class="part"></div>
      <div id="phase_shield" class="part"></div>
      <div id="morph_shield" class="part"></div>
      <div id="flux_shield" class="part"></div>
    </div>
    <div id="tabs-6">
      <div id="hull" class="part"></div>
      <div id="improved_hull" class="part"></div>				
      <div id="conifold_field" class="part"></div>
      <div id="shard_hull" class="part"></div>
      <div id="interceptor_bay" class="part"></div>				
    </div>
    <div id="tabs-7">
      <div id="nuclear_drive" class="part"></div>
      <div id="fusion_drive" class="part"></div>
      <div id="tachyon_drive" class="part"></div>
      <div id="jump_drive" class="part"></div>
      <div id="conformal_drive" class="part"></div>		
    </div>		 
  </div>
  <button id="calculate" type="button">Calculate</button>
</div>									
<div id='def' class="ships">
  <ul class="races">
    <li><a href="#">Terran</a></li>
    <li><a href="#">Planta</a></li>
    <li><a href="#">Exiles</a></li>
    <li><a href="#">Rho Indi</a></li>
    <li><a href="#">Orion</a></li>
    <li><a href="#">Alien Ships</a>
  </ul>
  <div class="ship_container">
    <div id="def_i" class="ship-pos int">
      <input id="def_i_s" class="spinner_i quan" value="0" />
      <div id="di1" class="part_container i1"></div>
      <div id="di2" class="part_container i2"></div>
      <div id="di3" class="part_container i3"></div>
      <div id="di4" class="part_container i4"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="def_c" class="ship-pos cru">
      <input id="def_c_s" class="spinner_c quan" name="value" value="0" />
      <div id="dc1" class="part_container c1"></div>
      <div id="dc2" class="part_container c2"></div>
      <div id="dc3" class="part_container c3"></div>
      <div id="dc4" class="part_container c4"></div>
      <div id="dc5" class="part_container c5"></div>
      <div id="dc6" class="part_container c6"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="def_d" class="ship-pos dre">
      <input id="def_d_s" class="spinner_d quan" name="value" value="0" />
      <div id="dd1" class="part_container d1"></div>
      <div id="dd2" class="part_container d2"></div>
      <div id="dd3" class="part_container d3"></div>
      <div id="dd4" class="part_container d4"></div>
      <div id="dd5" class="part_container d5"></div>
      <div id="dd6" class="part_container d6"></div>
      <div id="dd7" class="part_container d7"></div>
      <div id="dd8" class="part_container d8"></div>
    </div>
  </div>
  <div class="ship_container">
    <div id="def_s" class="ship-pos star">
      <input id="def_s_s" class="spinner_s quan" name="value" value="0" />
      <div id="ds1" class="part_container s1"></div>
      <div id="ds2" class="part_container s2"></div>
      <div id="ds3" class="part_container s3"></div>
      <div id="ds4" class="part_container s4"></div>
      <div id="ds5" class="part_container s5"></div>
    </div>
  </div>
</div>
